{{> top}}
<div class="public-page">
  <div class="header">
  {{{header}}}
  </div>
  <div class="menu">
  {{{menu}}}
  </div>
  <div class="content">
    <form class="pure-form pure-form-stacked" method="post" action="{{pathTo 'login'}}">
      <fieldset>
        <legend>Sign into the member's-only area</legend>

        <label for="email">your email address</label>
        <input type="email" name="email" id="email" placeholder="you@example.com">

        <label for="password">your password</label>
        <input type="password" name="password" id="password" placeholder="your password">

        <label for="rememberMe" class="pure-checkbox">
          <input type="checkbox" name="rememberMe" id="rememberMe" value="trance"> remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
      </fieldset>
    </form>
  </div>
  <div class="footer">
  {{{footer}}}
  </div>
</div>
{{> bottom}}
