/* BASE *******************************************************/


/* LAYOUT *****************************************************/
.public-page {
  max-width: 1400px;
  min-width: 320px;
  margin: auto;
}

.member-page {
  max-width: 1400px;
  min-width: 320px;
  margin: auto;
}

#main-nav {
  position: relative;

  #toggle, .toggle {
    display: none;
  }

  ul > li {
    list-style: none;
    float: left;
  }

  .alt-profile {
    display: none;
  }
}

/* Nicolas Gallagher micro clearfix */
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

@media only screen and (max-width: 35.5em){
  #main-nav {
    .profile {
      display: none;
    }

    ul {
      display: none;
      opacity: 0;
      width: 100%;
      right: 0;

      li, li.alt-profile {
        display: block;
        width: 100%;
        margin: 0;

        a {
          display: block;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing:
          border-box;
          box-sizing: border-box;
        }
      }
    }

    .toggle {
      display: block;
      position: relative;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
    }

    #toggle:checked + ul {
      display: block;
      opacity: 1;
    }

    .toggle:after {
      content: attr(data-open);
      display: block;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; 
    }

    #toggle:checked + nav .toggle:after {
      content: attr(data-close);
    }
  }
}

/* MODULE *****************************************************/
.member {
  cursor: pointer;
}

/* STATE ******************************************************/
