$content-background-color: #FFF;

$menu-color: inherit;
$menu-background-color: inherit;
$menu-hover-background-color: inherit;
$menu-disabled-color: inherit;
$menu-disabled-background-color: inherit;
$menu-active-color: inherit;
$menu-active-background-color: inherit;

/* BASE *******************************************************/
body, html {
  background-color: $content-background-color;
}

/* LAYOUT *****************************************************/


/* MODULE *****************************************************/
.pure-menu {
  a {
    color: $menu-color;
  }

  li {
    a {
      &:hover,
      &:focus {
        background-color: $menu-hover-background-color;
      }
    }

    &.pure-menu-disabled > a {
      background-color: $menu-disabled-background-color;
      color: $menu-disabled-color;

      &:hover,
      &:focus {
        background-color: $menu-disabled-background-color;
        color: $menu-disabled-color;
      }
    }
  }

  .pure-menu-selected {
    a {
      color: $menu-active-color;
      background-color: $menu-active-background-color;
    }
  }

  .pure-menu-can-have-children {
    &.pure-menu-disabled > a:after {
      color: $menu-disabled-color;
    }
  }

  .pure-menu {
    .pure-menu-can-have-children {
      >li:after {
        color: $menu-color;
      }
    }
  }

  &.pure-menu-open,
  .pure-menu-open {
    background-color: $menu-background-color;
  }

  &.pure-menu-horizontal {
    li {
      .pure-menu-children {
        background-color: $menu-background-color;
      }
    }
  }
}

.pure-menu-separator {
  background-color: #dfdfdf;
}

/* STATE ******************************************************/
