$content-background-color: #FFF;

$menu-color: inherit;
$menu-background-color: inherit;
$menu-hover-background-color: inherit;
$menu-disabled-color: inherit;
$menu-disabled-background-color: inherit;
$menu-active-color: orange;
$menu-active-background-color: inherit;

/* BASE *******************************************************/
body, html {
  background-color: $content-background-color;
}

/* LAYOUT *****************************************************/
.public-page, .member-page {
  padding: 0 4em;

  .content {
    padding: 1em;

    > h1:first-child {
      margin-top: 0;
    }
  }
}

/* MODULE *****************************************************/
.pure-menu {
  a {
    color: $menu-color;
  }

  li {
    a {
      &:hover,
      &:focus {
        background-color: $menu-hover-background-color;
      }

      &.pure-button:hover,
      &.pure-button:focus {
        background-color: #E6E6E6;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
        background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
        background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
        background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
        background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));

        &.pure-button-primary {
          background-color: $menu-active-color;
        }
      }
    }

    &.pure-menu-disabled > a {
      background-color: $menu-disabled-background-color;
      color: $menu-disabled-color;

      &:hover,
      &:focus {
        background-color: $menu-disabled-background-color;
        color: $menu-disabled-color;
      }
    }
  }

  .pure-menu-selected {
    a {
      color: $menu-active-color;
      background-color: $menu-active-background-color;
    }
  }

  .pure-menu-can-have-children {
    &.pure-menu-disabled > a:after {
      color: $menu-disabled-color;
    }
  }

  .pure-menu {
    .pure-menu-can-have-children {
      >li:after {
        color: $menu-color;
      }
    }
  }

  &.pure-menu-open,
  .pure-menu-open {
    background-color: $menu-background-color;
  }

  &.pure-menu-horizontal {
    li {
      .pure-menu-children {
        background-color: $menu-background-color;
      }
    }
  }
}

.pure-menu-separator {
  background-color: #dfdfdf;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: $menu-active-color;
    color: #000;
}

/* STATE ******************************************************/
