$media-query-small: 35.5em;

$page-background-color: #000;
$content-background-color: #FFF;

$menu-color: inherit;
$menu-background-color: inherit;
$menu-hover-background-color: inherit;
$menu-disabled-color: inherit;
$menu-disabled-background-color: inherit;
$menu-active-color: orange;
$menu-active-background-color: inherit;

@mixin transition ($property, $time) {
  -webkit-transition: $property $time ease;
  -moz-transition: $property $time ease;
  -o-transition: $property $time ease;
  transition: $property $time ease;
}

@mixin shadow ($dx, $dy, $blur, $spread, $color) {
  -webkit-box-shadow: $dx $dy $blur $spread $color;
          box-shadow: $dx $dy $blur $spread $color;
}

@mixin rounded ($radius) {
  border-radius: $radius;
  background-clip: padding-box;
}

/* BASE *******************************************************/
body, html {
  background-color: $page-background-color;
}

/* LAYOUT *****************************************************/
.public-page, .member-page {
  @include transition (padding, 0.25s);
  background-color: $content-background-color;

  .menu {
    padding: 0 1em;
  }

  .content {
    padding: 1em;

    > h1:first-child {
      margin-top: 0;
    }
  }

  .footer {
    padding: 1em;
  }
}

@media (max-width: 640px) {
  .public-page, .member-page {
    padding: 0;
  }
}

#main-nav {
  position: relative;
}

/* MODULE *****************************************************/
.pure-menu {

  // font-size: 14px;

  a {
    color: $menu-color;
  }

  ul {
    margin-right: 111px;
  }

  li {
    a {
      padding-left: 14px;
      padding-right: 14px;

      &:hover,
      &:focus {
        background-color: $menu-hover-background-color;
      }

      &.pure-button:hover,
      &.pure-button:focus {
        background-color: #E6E6E6;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
        background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
        background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
        background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
        background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));

        &.pure-button-primary {
          background-color: $menu-active-color;
        }
      }
    }

    &.pure-menu-disabled > a {
      background-color: $menu-disabled-background-color;
      color: $menu-disabled-color;

      &:hover,
      &:focus {
        background-color: $menu-disabled-background-color;
        color: $menu-disabled-color;
      }
    }
  }

  .pure-menu-selected {
    a {
      color: $menu-active-color;
      background-color: $menu-active-background-color;
    }
  }

  .pure-menu-can-have-children {
    &.pure-menu-disabled > a:after {
      color: $menu-disabled-color;
    }
  }

  .pure-menu {
    .pure-menu-can-have-children {
      >li:after {
        color: $menu-color;
      }
    }
  }

  &.pure-menu-open,
  .pure-menu-open {
    background-color: $menu-background-color;
  }

  &.pure-menu-horizontal {
    li {
      .pure-menu-children {
        background-color: $menu-background-color;
      }
    }
  }
}

.pure-menu-separator {
  background-color: #dfdfdf;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: $menu-active-color;
    color: #000;
}

.member-list-initial {
  padding: 0.33em 0.5em 0 0.5em;
  margin: 0;
  border-top: 1px solid $menu-active-color;
}

.member {
  margin: .5em;
  margin-bottom: 2em;
  padding: .5em;
  position: relative;
  min-height: 126px;
  background: #efefef;
  @include rounded(8px);
  &:hover {
    @include shadow(0, 1px, 4px, 1px, $menu-active-color);
  }
}

.member-photo {
  position: absolute;
  top: 8px;
  left: .5em;
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
  }
}

.member-since {
  position: absolute;
  left: .5em;
  top: 108px;
  width: 92px;
  padding: 4px;
  text-align: center;
  background-color: #D6E5EF;
}

.member-info {
  .member-photo {
    width: auto;
    height: auto;
    position: static;
  }
}

.member-lastName, .member-firstName, .member-nickName, .member-localSince, .member-email, .member-phone {
  margin-left: 115px;
}

.member-lastName {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .5em;
}

.member-firstName {
  font-size: 1.25em;
  font-weight: bold;
}

.member-nickName {
  font-size: 1.25em;
  font-style: italic;
  font-variant: small-caps;
}

.member-info-full-nickname, .member-info-full-name {
  padding-left: 1rem;
  padding: .25em;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: $media-query-small) {
  .member-info-full-name {
    padding: 0;
  }
}

.private-member-info {
  background-color: #CCC;
  padding: .25em;
}

/* STATE ******************************************************/
