@import '../../partials/_colors.scss';

.banner {
  margin: 0;
  padding: 1em .5em .5em .5em;
  color: $primary-color;
  text-transform: uppercase;
}

.main-menu {
  background-color: $primary-color-dark;
  color: $primary-color-dark-text;
  border-right: 1px solid $divider-color;
  box-sizing: border-box;

  .pure-menu-heading {
    color: #999;
  }

  .pure-menu-link {
    color: $primary-color-dark-text;
    text-decoration: none;

    &:hover {
      background-color: $primary-color-light;
      color: $primary-color-light-text;
    }
  }

  .pure-menu-selected  {
    background-color: $accent-color;
    color: $accent-color-text;

    .pure-menu-link,
    .pure-menu-link:visited {
      color: $primary-color-light-text;
    }
  }
}

.toolbar .pure-button {
  background-color: transparent;
}

.form-error {
  background-color: $error-color;
  color: $error-color-text;
}
