<div id="main-nav">
  <nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      <li class="pure-menu-selected"><a href="/">Home</a></li>
      <li><a href="{{pathTo 'login'}}">Login</a></li>
    </ul>
  </nav>
</div>
