$small-screen-query: "screen and (min-width: 35.5em)";
$medium-screen-query: "screen and (min-width: 48em)";
$large-screen-query: "screen and (min-width: 64em)";
$extra-large-screen-query: "screen and (min-width: 80em)";

@mixin small-screen {
  @media #{$small-screen-query} {
    @content;
  }
}

@mixin medium-screen {
  @media #{$medium-screen-query} {
    @content;
  }
}

@mixin large-screen {
  @media #{$large-screen-query} {
    @content;
  }
}

@mixin extra-large-screen {
  @media #{$extra-large-screen-query} {
    @content;
  }
}
