@import 'colors';
@import 'media-queries';
@import 'pure';

.normal-cursor {
  cursor: default !important;
}

.pure-form-aligned {
  p {
    margin-top: 0;
  }

  .pure-control-group {
    label {
      width: 8em;

      @include min-lg-screen {
        width: 8.5em;
      }
    }

    input[type="file"] {
      @media only screen and (max-width : 480px) {
        width: 100%;
      }
    }

    .long-plain-text {
      width: 60%;

      @include min-lg-screen {
        width: 75%;
      }

      @media only screen and (max-width : 480px) {
        width: 100%;
      }
    }

    .form-error {
      margin-left: 9.25em;
      padding: .5em;

      @include min-lg-screen {
        margin-left: 9.75em;
      }

      @media only screen and (max-width : 480px) {
        margin-left: 0;
      }

      p {
        margin: .5em;
      }

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .pure-controls {
    margin: 1.5em 0 0 9.75em;

    @include min-lg-screen {
      margin: 1.5em 0 0 10.2em;
    }

    @media only screen and (max-width : 480px) {
      margin: 1.5em 0 0 0;
    }

    .pure-button {
      margin: 0;
    }
  }
}

.form-layout {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.form-panel {
  box-sizing: border-box;
  display: inline-block;
  *display: inline; /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;

  @include min-md-screen {
    width: 50%;
    *width: 49.9690%;
  }

  fieldset {
    padding: .5em;
  }
}

.form-controls {
  box-sizing: border-box;
  display: inline-block;
  *display: inline; /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.toolbar {
  box-shadow: -1px 3px 3px #666666;
  background-color: $primary-color-dark;
  color: $primary-color-dark-text;
  width: 100%;

  a {
    color: $primary-color-dark-text;
    text-decoration: none;
  }

  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.toolbar-section {
  box-sizing: border-box;
  display: inline-block;
  *display: inline; /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  width: 33.3333%;
  *width: 33.3023%;
}

.toolbar-left {
  padding-left: 1em;
}

.toolbar-center {
  text-align: center;
}

.toolbar-right {
  padding-right: 1em;
  text-align: right;
}

.toolbar-item {
  font-size: 2.1em;
  display: inline-block;
  min-width: 48px;
  text-align: center;
}

.action-toolbar {
  .toolbar-item {
    font-size: 1em;
  }
}

.secondary-actions {
  display: none;
  position: fixed;
  right: 0;
  padding: .5em;
  top: 46px;
  background-color: white;
  border: 2px solid $primary-color-dark;
  box-shadow: -1px 3px 3px #888888;
  z-index: 1000;

  &.is-shown {
    display: block;
  }
}

.secondary-actions-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.secondary-action {
  padding: .75em;
}

.menu-header {
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-bottom: 1px solid $divider-color;
}

.input-year {
  width: 5em;
}
