<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="/scripts/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/pure.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/themes/{{chapter.theme}}/theme.css">
  </head>
  <body>
