<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="stylesheet" href="/css/pure.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/css/grids-responsive-old-ie.css">
    <script src="/scripts/html5shiv-printshiv.min.js"></script>
    <link rel="stylesheet" href="/themes/{{chapter.theme}}/theme-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/grids-responsive.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/themes/{{chapter.theme}}/theme.css">
  </head>
  <body>
